<html>
<head>
    <script src="{{ app.router['static'].url_for(filename='/lodash.js') }}"/> </script>
    <script src="{{ app.router['static'].url_for(filename='/arena.js') }}"/> </script>
</head>
<body>
    <canvas id="canvas" width="1000" height="1000"></canvas>
    <div style="display:none;">
        <img id="background" src="{{ app.router['static'].url_for(filename='/images/stars_texture.png') }}">
        <img id="galaxy" src="{{ app.router['static'].url_for(filename='/images/galaxy.png') }}">
        <img id="explosion" src="{{ app.router['static'].url_for(filename='/images/turret_02_explosion_01_anim.png') }}">
        <img id="laser" src="{{ app.router['static'].url_for(filename='/images/turret_02_beam_01_anim.png') }}">
        <img id="ship" src="{{ app.router['static'].url_for(filename='/images/body_01.png') }}">
        <img id="turret" src="{{ app.router['static'].url_for(filename='/images/turret_02_mk1_anim.png') }}">
        <img id="exhaust0" src="{{ app.router['static'].url_for(filename='/images/exhaust_01a.png') }}">
        <img id="exhaust1" src="{{ app.router['static'].url_for(filename='/images/exhaust_01b.png') }}">
</body>
</html>
