<html>
<head>
    <script src="{{ app.router['static'].url_for(filename='/lodash.js') }}"/> </script>
    <script src="{{ app.router['static'].url_for(filename='/arena.js') }}"/> </script>
</head>
<body>
    <canvas id="canvas" width="1000" height="1000"></canvas>
    <div style="display:none;">
        <img id="explosion0" src="{{ app.router['static'].url_for(filename='/images/Explosion_A.png') }}">
        <img id="explosion1" src="{{ app.router['static'].url_for(filename='/images/Explosion_B.png') }}">
        <img id="explosion2" src="{{ app.router['static'].url_for(filename='/images/Explosion_C.png') }}">
        <img id="explosion3" src="{{ app.router['static'].url_for(filename='/images/Explosion_D.png') }}">
        <img id="explosion4" src="{{ app.router['static'].url_for(filename='/images/Explosion_E.png') }}">
        <img id="explosion5" src="{{ app.router['static'].url_for(filename='/images/Explosion_F.png') }}">
        <img id="explosion6" src="{{ app.router['static'].url_for(filename='/images/Explosion_G.png') }}">
        <img id="explosion7" src="{{ app.router['static'].url_for(filename='/images/Explosion_H.png') }}">
        <img id="lightShell" src="{{ app.router['static'].url_for(filename='/images/Light_Shell.png') }}">
        <img id="hull1" src="{{ app.router['static'].url_for(filename='/images/Hull_01.png') }}">
        <img id="gun1A" src="{{ app.router['static'].url_for(filename='/images/Gun_01_A.png') }}">
        <img id="gun1B" src="{{ app.router['static'].url_for(filename='/images/Gun_01_B.png') }}">
        <img id="track1A" src="{{ app.router['static'].url_for(filename='/images/Track_1_A.png') }}">
        <img id="track1B" src="{{ app.router['static'].url_for(filename='/images/Track_1_B.png') }}">
</body>
</html>
